
body {
    background: linear-gradient(45deg, yellow, lightGreen);
}
.smit{
    color: rgb(215, 15, 15);
    text-align: center;
}

.glav {
    position: absolute;
    top: 0px;
    left: 0;
}

.contact{
    top: 150px;
    display: block;
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: rgb(67, 98, 183);
}
.cont{
    font-size: 60px;
    text-transform: uppercase;
}
.contact:hover{
    background-color: #d34d43;
}

nav {
    width: 900px;
    margin: 100px;
}

nav:before {
    content: '';
    display: block;
    height: 50px;
    width: 1000px;
    background: rgb(13, 52, 130);
    position: absolute;
    left: 0;
    z-index: -1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
}

ul li {
    float: left;
}

ul li a {
    color: #fff;
    display: block;
    height: 50px;
    padding: 0px 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 50px;
}
ul li a:hover {
    background: #d34d43;
}

.informacion {
    position: absolute;
    top: 170px;
    right: 300px;
    color: rgb(237, 12, 12);
    padding-left: 900px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
}

.text {
    font-size: 60px;
    background-color: rgb(160, 221, 254);
    position: absolute;
    display: block;
    text-align: center;
    top: 350px;
    left: 120px;
}

.foto1 {
    position: absolute;
    top: 1200px;
    left: 18%;
    border: solid 10px;
    border-radius: 0 0 600px 600px; 
}

.tab {
    border-radius: 0 0 600px 600px;
}

.youtube {
    position: absolute;
    display: block;
    top: 200px;
    left: 700px;
}

.youtube1 {
    border-radius: 50px 50px 50px 50px;
}

.text1 {
    font-size: 60px;
    background-color: rgb(160, 221, 254);
    position: absolute;
    display: block;
    text-align: center;
    top: 2000px;
    left: 120px;
}

.text2 {
    font-size: 60px;
    background-color: rgb(160, 221, 254);
    position: absolute;
    display: block;
    text-align: center;
    top: 2500px;
    left: 120px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
}




