body {
    background: linear-gradient(45deg, yellow, lightGreen);
}

.smit{
    color: rgb(215, 15, 15);

}

.glav {
    position: absolute; 
    top: 0px;
    left: 0;  
}
.glav_foto {
    position: absolute; 
    top: 0px;
    left: 0;
}

nav {
    width: 850px;
    margin: 100px;
}

nav:before {
    content: '';
    display: block;
    height: 50px;
    width: 1000px;
    background: rgb(13, 52, 130);
    position: absolute;
    left: 0px;
    z-index: -1;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 50px;
}

ul li {
    float: left;
}

ul li a {
    color: #fff;
    display: block;
    height: 50px;
    padding:0 40px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
}
ul li a:hover {
    background: #d34d43;
}

.informacion {
    position: absolute;
    top: 120px; 
    right: 300px;
    color: rgb(237, 12, 12);
    padding-left: 900px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
}

.youtube {
    position: absolute;
    display: block;
    top: 200px;
    left: 700px;
}

.list {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 880px;
    height: 4000px;
    top: 450px;
    left: 70px;
}

.strok {
    left: 0px;
    display: inline-block;
    border: solid 5px;
    
    
}

h3 {
    position: relative;
    top: 40px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.foto1 {
    margin: 50px;
    left: 0px;
    border: solid 10px;
    
}
.data{
    position: relative;
    top: -50px;
    font-size: 60px;
    background-color: aquamarine;
}





